
/* Apply reset to every elements */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Recallibrate default browser font sizing */
html {
    font-size: 62.5%; /* 1rem = 10px */
}

/* CSS Variables */
:root {
    
}